{% extends "base.html" %}

{% block contenido %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card text-bg-info mb-3 shadow" style="max-width: 24rem; width: 100%;">
    <div class="card-header text-center fs-5">App AUTORES</div>
    <div class="card-body">
      <h5 class="card-title text-center">Iniciar sesión</h5>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid mt-3">
          <button type="submit" class="btn btn-light fw-bold">Ingresar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}      